annotated-types==0.8.0
bssir==0.6.8
certifi==2026.7.22
charset-normalizer==3.5.2
dbfread==2.0.7
et_xmlfile==2.0.0
-e git+https://github.com/Iran-Open-Data/HBSIR.git@e5b3e5d5146ccf76af3e3068c0fc12fa7b4b678f#egg=hbsir
idna==3.20
numpy==2.5.3
openpyxl==3.1.5
packaging==26.3
pandas==3.0.6
pyarrow==25.0.1
pydantic==2.13.5
pydantic_core==2.46.5
pyodbc==5.3.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
setuptools==84.0.0
six==1.17.0
tabulate==0.10.0
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
wheel==0.48.0
